# Development dependencies for the project
# This file is used to install the required packages for development via pip
# Usage: pip install -r requirements-dev.txt
-r requirements.txt
pytest==7.4.3
black==23.12.1
flake8==7.0.0
jupyterlab==4.0.9
pre-commit==3.6.0