# Production dependencies necessary for the project to run in a production environment
# This file is used to install the required packages via pip
# Usage: pip install -r requirements.txt

pandas==2.1.4
numpy==1.26.4
matplotlib==3.8.2
seaborn==0.13.0
plotly==5.18.0
python-dotenv==1.0.0
scikit-learn==1.3.2
google-cloud-storage==2.14.0
google-cloud-bigquery==3.14.0
db-dtypes==1.2.0
tqdm==4.66.1
streamlit==1.29.0
